body{
    background-image:url('https://mycards.nl/_/shopimg/design/preview/boerderij-thema-geboortekaartje-jongen-op-trekker.480.p4.png');
    background-position: center;
}




.Formulario {
    height:200px;
    width: 500px;
    margin: auto;
    margin-top: 190px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }

.Titulo{
    color: #000000;
    position: absolute;
    top: 17%;
    left: 63%;
    transform: translate(-50%, -50%);
    /* Estilos adicionales para tu div centrado */
    width:700px;
    font-size:xx-large;
    font-family:'Trebuchet MS';
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
  }
  
  
  input[type="text"],
  input[type="password"] {
    width: 450px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: content-box;
    
  }