.bodyselect{
    background-color: aqua;
}

.iniciardoc{
    background-color: #4caf50;
    color: #fff;
    padding: 150px;
    height:600px;
    width: 400px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: x-large;
    text-align: center; /* Alinea el texto al centro */
    text-shadow: 2px 2px 4px #000000; /* Agrega sombra al texto */
    font-family: roboto;
    line-height: 1.5; /* Ajusta la altura de la línea según sea necesario */
}

.balance{
    background-color: #4caf50;
    color: #fff;
    padding: 150px;
    height:600px;
    width: 400px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 10%;
    left: 38%;
    font-size: x-large;
    text-align: center; /* Alinea el texto al centro */
    text-shadow: 2px 2px 4px #000000; /* Agrega sombra al texto */
    font-family: roboto;
    line-height: 1.5; /* Ajusta la altura de la línea según sea necesario */
}
 
.masopciones{
    background-color: #4caf50;
    color: #fff;
    padding: 150px;
    height:600px;
    width: 400px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    cursor:pointer;
    margin: 20px;
    position: absolute;
    top: 10%;
    left: 68%;
    font-size: x-large;
    text-align: center; /* Alinea el texto al centro */
    text-shadow: 2px 2px 4px #000000; /* Agrega sombra al texto */
    font-family: roboto;
    line-height: 1.5; /* Ajusta la altura de la línea según sea necesario */

}

